.mapped-popup-alert {
  background-color: #d9f7fa !important;
  border-color: #bee5eb !important;
  color: #0c5460 !important;
  padding: 10px !important;
  border-radius: 8px !important;
  font-size: 13px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
